# Flutter/Dart
.dart_tool/
.packages
build/
flutter_export_environment.sh
*.iml
*.lock

# Firebase — hasil flutterfire configure (opsional di-ignore)
# lib/firebase_options.dart

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
